@media screen and (max-width: 990px) {
    .site-navbar .site-logo {
        font-size: 1rem;
    }
    .ftco-cover-1.overlay h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .quick-contact-form {
        margin-top: 0px;
    }
}

@media screen and (max-width: 600px) {
    .site-navbar .site-logo {
        font-size: 1rem;
    }
    .ftco-cover-1.overlay h1 {
        font-size: 1rem;
    }
}
