.site-section-cover {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    &,
    .container {
        position: relative;
        z-index: 2;
    }
    &,
    .container>.row {
        height: calc(100vh - 196px);
        min-height: 577px;
        @include media-breakpoint-down(md) {
            height: calc(70vh - 196px);
            min-height: 400px;
        }
    }
    &.overlay {
        position: relative;
        &:before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba($black, .3);
            z-index: 1;
        }
    }
    &.inner-page {
        &,
        .container>.row {
            height: auto;
            min-height: auto;
            padding: 2em 0;
        }
    }
    &.img-bg-section {
        background-size: cover;
        background-repeat: no-repeat;
    }
    h1 {
        font-size: 3rem;
        color: $white;
        line-height: 1;
        @include media-breakpoint-down(md) {
            font-size: 2rem;
        }
    }
    p {
        font-size: 18px;
        color: $white; // max-width: 400px;
    }
}

.site-section {
    padding: 7rem 0;
    @include media-breakpoint-down(md) {
        padding: 3rem 0;
    }
}

.block-heading-1 {
    span {
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: .1em;
        @extend .font-gray-5;
        font-weight: bold;
    }
    h2 {
        font-size: 3rem;
        color: $primary;
        @include media-breakpoint-down(md) {
            font-size: 2rem;
        }
    }
}

.block-feature-1-wrap {
    margin-bottom: 7rem;
    >.container {
        >.row {
            margin-left: -18px;
            margin-right: -18px;
            >.col,
            >[class*="col-"] {
                padding-right: 36px;
                padding-left: 36px;
            }
        }
    }
}

.block-feature-1 {
    background: lighten(#ccc, 15%);
    padding: 30px 30px 30px 50px;
    position: relative;
    h2 {
        font-size: 18px;
    }
    .icon {
        width: 80px;
        height: 80px;
        display: inline-block;
        border-radius: 50%;
        position: absolute;
        left: -40px;
        top: 50%;
        border: 4px solid $white;
        transform: translateY(-50%);
        text-align: center;
        > span {
            font-size: 40px;
            color: $white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.block-img-video-1-wrap {
    .block-img-video-1 {
        position: relative;
        margin-top: -10rem;
        @include media-breakpoint-down(md) {
            margin-top: -6rem;
        }
    }
}

.block-img-video-1 {
    >a {
        display: block;
        position: relative;
        cursor: pointer;
        .icon {
            position: absolute;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            display: inline-block;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: $white;
            transition: .3s all ease-in-out;
            >span {
                position: absolute;
                top: 50%;
                font-size: .8rem;
                left: 50%;
                transform: translate(-50%, -50%);
                color: $black;
            }
        }
        &:hover {
            .icon {
                background: $white;
                width: 90px;
                height: 90px;
            }
        }
    }
}

.block-counter-1 {
    text-align: center;
    .number,
    .caption {
        display: block;
        line-height: 1;
    }
    .number {
        color: $primary;
        font-size: 4rem;
        position: relative;
        padding-bottom: 20px;
        margin-bottom: 20px;
        // $font-family: $font-family-sans-serif2;
        @include media-breakpoint-down(md) {
            font-size: 2rem;
        }
        &:after {
            position: absolute;
            content: "";
            width: 50px;
            height: 3px;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            background: rgba($dark, .3);
        }
    }
    .caption {
        font-size: 14px; // color: $white;
        letter-spacing: .05em;
    }
}

.block-team-member-1 {
    padding: 30px;
    border: 1px solid $gray-200;
    background: $white;
    position: relative;
    top: 0;
    transition: .15s all ease-in-out;
    figure {
        img {
            max-width: 130px !important;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.block-social-1 {
    >a {
        display: inline-block;
        width: 30px;
        height: 30px;
        position: relative;
        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.block-testimony-1 {
    padding: 20px;
    position: relative;
    blockquote {
        background: $white;
        padding: 30px;
        font-style: italic;
        font-size: 18px;
        color: $black;
        font-family: 'Georgia', Times, serif;
        position: relative;
    }
    figure {
        position: relative;
        padding-top: 20px;
        &:before {
            position: absolute;
            content: "";
            width: 50px;
            left: 50%;
            display: none;
            top: 0;
            transform: translateX(-50%);
            background: $primary;
            height: 2px;
        }
        img {
            max-width: 60px;
        }
    }
    h3 {
        font-size: 18px;
    }
}

.block-13 {
    .owl-nav {
        display: none;
    }
    .owl-dots {
        text-align: center;
        position: relative;
        bottom: -30px;
        .owl-dot {
            display: inline-block;
            span {
                display: inline-block;
                width: 7px;
                height: 7px;
                border-radius: 4px;
                background: lighten($black, 80%);
                transition: .3s all cubic-bezier(.32, .71, .53, .53);
                margin: 3px;
            }
            &.active {
                span {
                    // width: 20px;
                    background: $primary;
                }
            }
        }
    }
}

.post-entry {
    background: $white;
    padding: 30px;
    border: 1px solid lighten($black, 90%);
    border-radius: 4px;
    transition: .3s all ease;
    &:hover {
        box-shadow: 0 5px 15px -5px rgba(0, 0, 0, .1);
    }
    h2 {
        font-size: 20px;
    }
    *:last-child {
        margin-bottom: 0;
    }
}

.by {
    color: $black;
    border-bottom: 1px dotted #ccc;
    &:hover {
        border-bottom: 1px dotted $primary;
    }
}


// sidebar
.sidebar-box {
    margin-bottom: 30px;
    padding: 25px;
    font-size: 15px;
    width: 100%;
    float: left;
    background: $white;
    *:last-child {
        margin-bottom: 0;
    }
    h3 {
        font-size: 18px;
        margin-bottom: 15px;
    }
}

.categories,
.sidelink {
    li {
        position: relative;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px dotted gray('300');
        list-style: none;
        &:last-child {
            margin-bottom: 0;
            border-bottom: none;
            padding-bottom: 0;
        }
        a {
            display: block;
            span {
                position: absolute;
                right: 0;
                top: 0;
                color: #ccc;
            }
        }
        &.active {
            a {
                color: $black;
                font-style: italic;
            }
        }
    }
}

.comment-form-wrap {
    clear: both;
}

.comment-list {
    padding: 0;
    margin: 0;
    .children {
        padding: 50px 0 0 40px;
        margin: 0;
        float: left;
        width: 100%;
    }
    li {
        padding: 0;
        margin: 0 0 30px 0;
        float: left;
        width: 100%;
        clear: both;
        list-style: none;
        .vcard {
            width: 80px;
            float: left;
            img {
                width: 50px;
                border-radius: 50%;
            }
        }
        .comment-body {
            float: right;
            width: calc(100% - 80px);
            h3 {
                font-size: 20px;
                color: $black;
            }
            .meta {
                text-transform: uppercase;
                font-size: 13px;
                letter-spacing: .1em;
                color: #ccc;
            }
            .reply {
                padding: 5px 10px;
                background: lighten($black, 90%);
                color: $black;
                text-transform: uppercase;
                font-size: 14px;
                &:hover {
                    color: $black;
                    background: lighten($black, 89%);
                }
            }
        }
    }
}

.search-form {
    background: lighten($black, 97%);
    padding: 10px;
    .form-group {
        position: relative;
        input {
            padding-right: 50px;
        }
    }
    .icon {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }
}

.post-meta {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: .2em;
    a {
        color: $white;
        border-bottom: 1px solid rgba($white, .5);
    }
}

.slide {
    height: 100vh;
    min-height: 900px;
    background-size: cover;
}

.btn-md {
    padding: 8px 20px;
}

.border-w-2 {
    border-width: 2px !important;
}

.block__73694 {
    .block__73422 {
        background-size: cover;
        background-position: center center; // background-attachment: fixed;
        background-repeat: no-repeat;
        @include media-breakpoint-down(md) {
            height: 400px;
        }
    }
}

.slide-one-item {
    .owl-nav {
        @include media-breakpoint-down(md) {
            display: none;
        }
        .owl-prev,
        .owl-next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 2rem;
            color: rgba($white, .4);
            &:hover {
                color: $white;
            }
        }
        .owl-prev {
            left: 20px;
        }
        .owl-next {
            right: 20px;
        }
    }
    .owl-dots {
        position: absolute;
        bottom: 20px;
        width: 100%;
        text-align: center;
        z-index: 2;
        .owl-dot {
            display: inline-block;
            >span {
                transition: .3s all cubic-bezier(.32, .71, .53, .53);
                display: inline-block;
                width: 7px;
                height: 7px;
                border-radius: 4px;
                background: rgba($white, .4);
                margin: 3px;
            }
            &.active {
                >span {
                    width: 20px;
                    background: $white;
                }
            }
        }
    }
}




.footer-suscribe-form {
    .form-control {
        color: $black;
        &:hover,
        &:active,
        &:focus {
            color: $black !important;
        }
    }
    .btn {
        color: $white;
    }
}


// 03-Block
.ftco-blocks-cover-1 {
    .ftco-service-image-1 {
        margin-top: -70px;
        position: static;
    }
}

.ftco-cover-1 {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    &, & .container>.row {
        height: 100vh;
        min-height: 670px;
    }

    &.innerpage {
        &, & .container>.row {
            height: 90vh;
            min-height: 700px;
        }
    }

    >.container {
        position: relative;
    }
    &.overlay {
        position: relative;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: .5; // background: rgba(0,196,255,1);
            background: $black;
        }
        h1 {
            color: $white;
            font-size: 3rem;
            font-weight: 900;
            &.line-bottom {
                position: relative;
                padding-bottom: 30px;
                &:after {
                    content: "";
                    background: $primary;
                    position: absolute;
                    bottom: 0;
                    width: 40px;
                    height: 7px;
                    left: 0;
                }
            }
        }
        p {
            color: $white;
            a {
                color: $white;
                text-decoration: underline;
                font-weight: 700;
                &:hover {
                    text-decoration: none;
                }
            }
        }

    }
}




// owl
.owl-all {
    .owl-dots {
        text-align: center;
        margin-top: 30px;
        .owl-dot {
            display: inline-block;
            >span {
                display: inline-block;
                width: 7px;
                height: 7px;
                background: #ccc;
                margin: 5px;
                border-radius: 50%;
            }
            &.active {
                >span {
                    background: $primary;
                }
            }
        }
    }
    @include media-breakpoint-up(lg) {
        .owl-nav,
        .owl-dots {
            display: none;
        }
        .owl-stage {
            transform: none !important;
            width: 120% !important;
            padding-top: 10px;
        }
        .owl-carousel .owl-stage-outer {
            width: 100%;
            overflow: visible;
        }
        .owl-stage-outer>.owl-stage>.owl-item {
            display: inline-grid;
            float: none;
            margin-bottom: 30px;
        }
    }
}

.blog-entry {
    .blog-thumbnail {
        flex: 0 0 150px;
        margin-right: 20px;
        img {
            border-radius: 4px;
        }
    }
    .blog-excerpt {
        a {
            color: $black;
            &:hover {
                color: $primary;
            }
        }
    }
}

.bg-light {
    background-color: #f6f5f5 !important;
}


/* cruise */

.feature-1 {
    background: #ccc;
    position: relative;
    display: block;
    z-index: 1;
    margin-bottom: 30px;
    .feature-1-contents {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 30px;
        background: $white;
        opacity: 0;
        visibility: hidden;
        transition: .3s all ease;
        h2 {
            font-size: 1.2rem;
        }
        p {

        }
    }
    &:hover, &:focus {
        .feature-1-contents {
            visibility: visible;
            opacity: .95;
        }
    }
}
.more {
    text-transform: uppercase;
    font-size: .75rem;
    letter-spacing: .1rem;
    border-bottom: 2px solid $primary;
}

.section-2 {
    background: #1c2d37;
    .section-2-title {
        color: $white;
        h2 {
            color: $white;
        }
    }
}

.feature-2 {
    color: $white;
    h3 {
        color: $white;
    }
    .caption {
        font-weight: bold;
        color: $primary;
        display: block;
        margin-bottom: 10px;
    }
}

.fixed-content {
    position: sticky;
    top: .2rem;
}

.feature-3 {
    position: relative;
    margin-bottom: 40px;
    &:before {
        position: absolute;
        left: -3rem;
        line-height: 0;
        top: 1rem;
        font-size: 2rem;
        color: $green;
        font-family: "icomoon";
        content: "\e86c";
    }
    h3 {
        font-size: 1.3rem;
    }
}

.testimonial-1 {
    .quote-icon-wrap {
        font-size: 2rem;
        color: $primary;
    }
    p {
        font-size: 1.5rem;
    }
}

.section-4 {
    border-top: 1px solid #efefef;
}

.post-entry-1 {
    .meta {
        color: #ccc;
    }
    .post-entry-1-contents {
        background: $white;
        padding: 20px;
        h2 {
            font-size: 22px;
            margin-bottom: 20px;
            a {
                color: $black;
                &:hover {
                    color: $primary;
                }
            }
        }
    }

    &.person-1 {
        text-align: center;
        img {
            width: 90px;
            border-radius: 50%;
            margin: 0 auto -45px auto;
        }
        .post-entry-1-contents {
            padding-top: 4rem;
        }

    }

}

.careers-1 {
    padding: 20px;
    background: $white;
    margin-bottom: 30px;
    .roles {

    }
}


/* carrent */

.feature-car-rent-box-1 {
    position: relative;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 10px;
        width: 100%;
        background: $primary;
    }
    padding: 30px;
    background: $white;
    ul {
        padding: 0;
        margin: 0;
        li {
            display: block;
            padding: 20px 0;
            list-style: none;
            border-bottom: 1px solid #efefef;

            margin: 0;
            position: relative;
            .spec {
                position: absolute;
                right: 0;
            }
            &:last-child {
                border-bottom: none;
            }
        }
    }
}

.trip-form {
    padding: 40px 30px;
    background: $white;
    position: relative;
    // transform: translateY(-50%);
    margin-top: -90px;
    box-shadow: 0 0 10px 0px rgba($black, .1);
    h3 {
        font-size: 20px;
        margin-bottom: 30px;
        color: $black;
    }
}


.item-1 {
    .item-1-contents {
        padding: 20px;
        background: $white;
        h3 {
            font-size: 18px;
        }
        .rent-price {
            > span {
                font-size: 1.7rem;
            }
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                margin-bottom: 5px;
                padding-bottom: 5px;
                border-bottom: 1px solid #efefef;
                display: block;
                position: relative;
                .spec {
                    position: absolute;
                    right: 0;
                }
                &:last-child {
                    border-bottom: none;
                }
            }
        }
        .action {
            margin-top: 20px;
        }
    }
}

.how-it-works {

    .step {
        width: 20%;
        display: inline-block;
        text-align: center;
        position: relative;
        &:after {


            width: 100%;
            height: 4px;
            content: "";
            position: absolute;
            z-index: -1;
            top: 25px;
            background: $primary;

        }
        &:last-child {
            &:after {
                display: none;
            }
        }
        .number {
            z-index: 1;
            width: 50px;
            height: 50px;
            border: 4px solid $primary;
            background: $white;
            border-radius: 50%;
            color: $primary;
            display: block;
            position: relative;
            margin: 0 auto 10px auto;
            > span {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 1.3rem;
                color: $primary;
            }
        }
        .caption {
            display: block;
        }
    }
}

.service-1 {
    text-align: center;
    .service-1-icon {
        background: $white;
        width: 90px;
        height: 90px;
        margin-bottom: 20px;
        position: relative;
        display: inline-block;
        border: 4px solid $primary;
        border-radius: 50%;
        > span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 3rem;
        }
    }
    .service-1-contents {
        h3, p {
            color: $white;
        }
        h3 {
            margin-bottom: 10px;
            font-size: 20px;
        }
    }

    &.dark {
        .service-1-contents {
            h3, p {
                color: $black;
            }
            h3 {
                margin-bottom: 10px;
                font-size: 20px;
            }
        }
    }
}

.service-2 {
    padding: 40px;
    background: $white;
    transition: .3s all ease;
    .svg {
        width: 60px;
        margin-bottom: 30px;
        img {
            max-width: 100%;

        }
    }

    h3 {
        font-size: 20px;
        color: $black;
        font-weight: 700;
        position: relative;


        span {
            display: inline-block;
            position: relative;
            padding-bottom: 10px;
            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                background-color: #efefef;
                height: 4px;
            }
        }

    }


    &:hover {
        background-color: #2e3192;
        box-shadow: 0 5px 50px 0 rgba(#2e3192, .1);
        h3 {
            color: $white;

            span {
                &:after {
                    background-color: $primary;
                }
            }
        }
        p {
            color: rgba($white, .7);
        }
    }
}


.section-3 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    > .container {
        z-index: 2;
    }
    &:before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        background-color: rgba($black, .5);
    }
}

.testimonial-2 {
    background: $white;
    padding: 30px;
    blockquote {
        font-size: 1.3rem;
    }

}

.testimonial-3 {
    blockquote {
        padding: 40px;
        background: $white;
        font-size: 18px;
    }
    .img-wrap {
        margin-left: 40px;
    }
    .v-card {
        img {
            width: 50px;
            flex: 0 0 50px;
            border-radius: 50%;
        }
    }
    .position {
        color: #999;
    }
    .vcard {
        flex: 0 0 50px;
        img {
            width: 50px;
            border-radius: 50%;
            max-width: 100%;
        }
    }
}

.quick-contact-form {
    padding: 50px;
    border-radius: 7px;
    margin-top: -200px;
    box-shadow: 0 5px 20px -5px rgba($black, .1);
    h2 {
        font-size: 14px;
        margin-bottom: 30px;
        color: $black;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: .2rem;
    }
}
form {
    .form-control,
    .btn {
        height: 55px;
        border-radius: 4px;
    }
    .form-control {
        padding-left: 20px;
        padding-right: 20px;
        border-color: transparent;
        margin-right: 10px;
        background: #efefef;
        &:active, &:focus {
            border-color: transparent;
            background: #efefef;
            box-shadow: none;
        }
    }
    textarea {
        height: auto!important;
        padding-top: 10px!important;
        padding-bottom  : 10px!important;
    }
    .btn {
        border-color: transparent;
    }
}

.line-bottom {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
    &:after {
        content: "";
        position: absolute;
        width: 40px;
        height: 7px;
        left: 0;
        background-color: $primary;
        bottom: 0;
    }
    &.text-center {
        &:after {
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.custom-tab {
    text-align: right;
    display: block!important;
    a {
        display: inline-block;
        padding: 10px 0px;
        margin-left: 10px;
        margin-right: 10px;
        color: $black;
        position: relative;
        &:before {
            width: 100%;
            content: "";
            position: absolute;
            bottom: 0;
            height: 4px;
            left: 0;
            background-color: #efefef;
        }
        &.active {

            &:before {
                background-color: $primary;
            }
        }
    }
}

.project-item {
    position: relative;
    overflow: hidden;

    .project-item-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        visibility: hidden;
        transition: .3s all ease;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba($black, .5);

        }
    }
    .category {
        position: absolute;
        padding: 2px 10px;
        background: $primary;
        color: $white;
        top: 10px;
        left: 10px;
        font-size: 13px;
    }
    .plus {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        > span {
            color: $white;
            font-size: 20px;
        }
    }
    .project-title {
        text-align: center;
        line-height: 1;
        position: absolute;
        width: 100%;
        bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
        color: $white;
        left: 50%;
        transform: translateX(-50%);

        span {
            position: relative;
            display: inline-block;
            padding-bottom: 10px;
            &:before {
                position: absolute;
                content: "";
                bottom: 0;
                left: 0;
                right: 0;
                height: 2px;
                background: rgba($white, .1);
            }
        }

        &:hover {
            span {
                &:before {
                    background-color: $primary;
                }
            }
        }

    }

    &:hover {
        .project-item-overlay {
            opacity: 1;
            visibility: visible;
        }

    }

}
