.margin-logo{
	margin-top: -15px;
}

.padding-barra-nav{
	padding-bottom: 5px !important;
}

.letra-blanca{
	color: #FFF;
}

.fondo-color{
	/*background: #9E2A2A !important;*/
	/*background: #bd3232 !important;*/
	background: #FFFFFF !important;
}

.fondo-clientes {
	/*background: url("../img/clientes/fondoClientes2.jpg") no-repeat;*/

	min-height: 700px;

}

.letra-negra{
	color: #000000 !important;
}

.letra-ploma{
	color: #888888 !important;
}

.letra-negra{
	color: #222222 !important;
}

/*Orientación de texto*/
.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

.left {
    text-align: left;
}
/**/

.borde-verde{
  border-color: #82D108;
}

.letra-verde{
  color: #82D108;
}

.fondo-boton{
	background: #9E2A2A !important;
}

.rotate{
-webkit-transition-duration: 0.8s;
-moz-transition-duration: 0.8s;
-o-transition-duration: 0.8s;
transition-duration: 0.8s;

-webkit-transition-property: -webkit-transform;
-moz-transition-property: -moz-transform;
-o-transition-property: -o-transform;
transition-property: transform;

overflow:hidden;

}

.rotate:hover
{
-webkit-transform:rotate(360deg);
-moz-transform:rotate(360deg);
-o-transform:rotate(360deg);
}

.padding-clientes{
	padding-top: 100px;
}

.puntero-mano{
  cursor: pointer;
}

.pointss{
  position: relative;
  list-style-type: none;
  padding: 5px 0 5px 30px;
}

.pointss:before{
  content: "\f058";
  position: absolute;
  font-family: FontAwesome;
  font-size: 1.125em;
  color: #82D108;
  left: 0px;
  top: 3px;
}

.listado{
  list-style: none;
  margin-bottom: 20px;
  padding-left:0px;
}

.titulo-modal{
  background: #82D108;
  color: #FFFFFF;
}

.btn-modal{
  background: #FFF;
  color: #82D108;
}



.modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 300px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -300px, 0);
    transform: translate3d(0, -300px, 0);
    opacity: 1;
}

.modal-header {

-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}

.modal-body {
  font-size: 16px;
}

.alinear-izquierda{
  text-align: left !important;
}

.alinear-derecha{
  text-align: right !important;
}

.alinear-centro{
  text-align: center !important;
}

.btn-redondo{
  border-radius: 100% !important;
}

.sin-margin-right{
  margin-right: 0px !important;
}

.sin-margin-left{
  margin-left: 0px !important;
}

@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
   max-width:1200px;
  }

  .modal-lg{
    width: 80% !important;
  }
}

.frm-en-linea{
  display: inline !important;
}

.sombra{
  box-shadow: 0 0 15px 3px black;
}

.sin-borde-arriba-bajo{
  border-top: none !important;
  border-bottom: none !important;
}

.sin-borde-bajo{
  border-bottom: none !important;
}

.maximo-alto-img{
  max-height: 100px !important;
}

.sin-padding-left{
  padding-left: 0px !important;
}

.padding-left{
  padding-left: 10px !important;
}

.sin-padding-right{
  padding-right: 0px !important;
}

.ancho-50{
  width: 50% !important;
}

.en-linea{
  /*display: inline-block !important;*/
  display: inline-table !important;
  top:100px !important;
  width: 15%;
}

.ancho-total{
  width: 100% !important;
}

.estadoNoComenzado{
  background: #E6E6E6 !important;
  border-color: #D8D8D8 !important;
}

.estadoEnProceso{
  background: #f0ad4e !important;
  border-color: #eea236 !important;
}

.estadoParado{
  background: #d9534f !important;
  border-color: #d43f3a !important;
}

.estadoTerminado{
  background: #5cb85c !important;
  border-color: #4cae4c !important;
}

.nomenclaturaNoComenzado{
    background: #E6E6E6;
    display: block;
    height: 20px;
    width: 20px;
    border: 3px solid #D8D8D8;
    border-radius: 100%;
}

.nomenclaturaEnCurso{
    background: #f0ad4e;
    display: block;
    height: 20px;
    width: 20px;
    border: 3px solid #eea236;
    border-radius: 100%;
}

.nomenclaturaParado{
    background: #d9534f;
    display: block;
    height: 20px;
    width: 20px;
    border: 3px solid #d43f3a;
    border-radius: 100%;
}

.nomenclaturaTerminado{
    background: #5cb85c;
    display: block;
    height: 20px;
    width: 20px;
    border: 3px solid #4cae4c;
    border-radius: 100%;
}

.margin-derecha{
  margin-right: 10px !important;
}


.thumb-shadow:hover {
  box-shadow: 9px 13px 26px -8px #222533;
 }

.thumbnail1 .caption {
  margin-top: 32px;
}
.thumbnail1 .caption * + p {
  margin-top: 7px;
}
.thumbnail1 .caption h4 a:hover {
  color: #222533;
}

.bgn-primary {
  background: rgba(33, 194, 248, 0.8);
}
.bgn-primary *,
.bgn-primary h2,
.bgn-primary h3,
.bgn-primary h4 {
  color: #fff;
}
.bgn-primary a.btn-link {
  color: #ffffff;
}
.bgn-primary a.btn-link:hover {
  color: #222533;
  text-decoration: none;
  background-color: transparent;
}
.bgn-secondary {
  background: #222533;
}
.bgn-success {
  background-color: #dff0d8;
}
a.bgn-success:hover {
  background-color: #c1e2b3;
}
.bgn-info {
  background-color: #d9edf7;
}
a.bgn-info:hover {
  background-color: #afd9ee;
}
.bgn-warning {
  background-color: #fcf8e3;
}
a.bgn-warning:hover {
  background-color: #f7ecb5;
}
.bgn-danger {
  background-color: #f2dede;
}
a.bgn-danger:hover {
  background-color: #e4b9b9;
}
.bg1n {
  background: #f2f2f2;
}
.bg2n {
  background: rgba(34, 37, 51, 0.8);
}
.bg2n *,
.bg2n h2,
.bg2n h3,
.bg2n h4 {
  color: #fff;
}
.bg2n a.btn-link {
  color: #21c2f8;
}
.bg2n a.btn-link:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
}
.bgVerde {
  background: rgba(130, 209, 8, 0.8);
}
.bgVerde *,
.bgVerde h2,
.bgVerde h3,
.bgVerde h4 {
  color: #fff;
}
.bgVerde a.btn-link {
  color: #21c2f8;
}
.bgVerde a.btn-link:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
}
.bg3n {
  background: rgba(255, 255, 255, 0.8);
}
.bg3n *,
.bg3n h2,
.bg3n h3,
.bg3n h4 {
  color: #222533;
}
.bg3n a.btn-link {
  color: #21c2f8;
}
.bg3n a.btn-link:hover {
  color: #222533;
  text-decoration: none;
  background-color: transparent;
}

.thumbnail2 {
  position: relative;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.thumbnail2 .caption {
  padding: 23px 21px 21px 22px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.thumbnail2 .caption h3 + .wrap {
  margin-top: 5px;
}
.thumbnail2 .caption .wrap:before,
.thumbnail2 .caption .wrap:after {
  content: " ";
  display: table;
}
.thumbnail2 .caption .wrap:after {
  clear: both;
}
.thumbnail2 .caption .wrap:before,
.thumbnail2 .caption .wrap:after {
  content: " ";
  display: table;
}
.thumbnail2 .caption .wrap:after {
  clear: both;
}
.thumbnail2 .caption .wrap:before,
.thumbnail2 .caption .wrap:after {
  content: " ";
  display: table;
}
.thumbnail2 .caption .wrap:after {
  clear: both;
}
.thumbnail2 .caption .wrap:before,
.thumbnail2 .caption .wrap:after {
  content: " ";
  display: table;
}
.thumbnail2 .caption .wrap:after {
  clear: both;
}
.thumbnail2 .caption .wrap p {
  float: left;
  width: 90%;
}
.thumbnail2 .caption .wrap a {
  float: right;
  margin-top: 8px;
}
.thumbnail2 .caption .wrap .thumb_ins1 {
  width: 100%;
}
@media (max-width: 1199px) {
  .thumbnail2 h3 {
    font-size: 25px;
  }
  .thumbnail2 .caption {
    padding-right: 17px;
    padding-left: 20px;
  }
  .thumbnail2 .caption .wrap p,
  .thumbnail2 .caption .wrap .thumb_ins1 {
    font-size: 13px;
    width: 94%;
  }
  .thumbnail2 .btn-link:before {
    font-size: 36px;
    line-height: 40px;
  }
}
@media (max-width: 991px) {
  .thumbnail2 {
    display: inline-block;
    max-width: 100%;
  }
  .thumbnail2 .caption * {
    text-align: left;
  }
}
@media (max-width: 400px) {
  .thumbnail2 .caption {
    position: static;
  }
}

.shadows{
  box-shadow: 9px 13px 26px -8px #222533;
}

.zoomCrecer{
  transition: all .2s ease-in-out;
}

.zoomCrecer:hover{
  transform: scale(1.03);
}

.watermark {
  /*width: 100%;*/
  height: auto;
  display: block;
  position: relative;
  background-repeat:no-repeat;
}

.watermark::after {
  content: "";
  background: url("../img/ContactoLogo2.png");
  background-repeat:no-repeat;
  background-position:center;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.borde-proyecto{
  border: 1px solid #eee;
}

@media (max-width: 768px) {
  .padding-bottom-proyecto{
    padding-bottom: 20px !important;
  }

  .padding-top-proyecto{
    padding-top: 20px !important;
  }

  .caption-servicios-2{
    position: relative !important;
  }

  .redimension-imagen{
    width: 60% !important;
  }

  .alineacionCentro{
     text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .padding-bottom-proyecto{
    padding-bottom: 20px !important;
  }

  .padding-top-proyecto{
    padding-top: 20px !important;
  }

  .caption-servicios{
    position: relative !important;
  }

}

@media (min-width: 768px) and (max-width: 992px) {

  .thumbnail2 h3 {
    font-size: 20px !important;
  }

}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #fff;
}
